.dropdown-menu {
      height: 150px;
      overflow-y: scroll;
    }
.dropdown-currency{
  display: flex;
  width:400px;
}
.box{
  width:200px;

}
/* 
.chart-main{
  position: relative;
}

.Chart{
  position: absolute;
  left:10%;
  right:10%;
  height:80vh;

  background-color: burlywood;
}

#chart-main{
  position:relative;
  width:700px;
  height:500px;
} */

.chartWrapper{
  position: relative;
  
}

.chartAreaWrapper{
  /* display:none; */
  overflow-x:scroll;
  overflow-y:scroll;
  width:500px;
  height:500px;
  position: absolute;
  top:50px;
  background-color: bisque; 
}
#main{
  
}
.zoomWrapper{
  display:none;
  position:absolute;
  left: 100px;
  top: 100px;
  background-color: coral;
}

#zoom{
   border:1px rgb(136, 128, 128) solid;
   box-shadow: 6px 5px 10px #4e0d0d;  
   position:absolute; 
  

     /* left:50%; */
   /* display:none; */
}
/* .testWrapper{
  position: relative;
}
.testText{
  position:absolute;
  top:00px;
 
}
#testCan{
  position:absolute;
  top:100px;
} */