.dropdown-menu {
      height: 150px;
  overflow-y: scroll;
}
.dropdown-currency{
  display: flex;
  width:400px;
}
.box{
  width:200px;

}

/* ---------------------------------------------------------------------------------------------------------- */

.chartWrapper{
  position: relative;
  
}

.mainWrapper{
  display:none; 
  overflow-x:scroll;
  overflow-y:scroll;
  width:500px;
  height:500px;
  position: absolute;
  top:50px;
  background-color: bisque; 
}
#main{
  
}


.zoomWrapper{
  position:absolute;
  left: 100px;
  top: 100px;
}
#zoom{
   /* display:none; */
   border:1px rgb(136, 128, 128) solid;
   box-shadow: 6px 5px 10px #4e0d0d;  
   position:absolute; 
}

.priceWrapper{
    position:absolute;
    left: 30%;
}
#price{
    /* display:none; */
}


.dateWrapper{
    position:absolute;
    top:400px;
}
#date{
    /* display:none; */
}
 

