.dropdown-menu {
      height: 150px;
      overflow-y: scroll;
    }
.dropdown-currency{
  width:400px;
}
.box{
  width:200px;
  float:left;

}

.chart-main{
  position: relative;
}

.Chart{
  position: absolute;
  left:10%;
  right:10%;
  height:80vh;

  background-color: burlywood;
}