.dropdown-menu {
      height: 150px;
      overflow-y: scroll;
    }
.dropdown-currency{
  display: flex;
  width:400px;
}
.box{
  width:200px;

}

.chart-main{
  position: relative;
}

.Chart{
  position: absolute;
  left:10%;
  right:10%;
  height:80vh;

  background-color: burlywood;
}

#chart-main{
  position:relative;
  width:700px;
  height:500px;
}
#can-date{
  position:absolute; top:0px; left:0px;
  width:700px;
  height:500px;
  pointer-events: none;
}